#app {
    min-height: 100vh;
    font-size: @fontSize-content;
    color: #333;
    background-color: @pageColor;

    [class*='-avatar'] {
        > img {
            width: 100%;
        }
    }
}
